development:
  adapter: pg
  host: localhost
  database: bariloche_vota_dev
  username: root
  password:

test:
  adapter: pg
  host: localhost
  database: bariloche_vota_test
  username: root
  password:

production:
  adapter: pg
  host: localhost
  database: bariloche_vota
  username: root
  password: