development:
  adapter: postgresql
  host: localhost
  database: bariloche_vota_dev
  username: postgres
  password:

test:
  adapter: postgresql
  host: localhost
  database: bariloche_vota_test
  username: postgres
  password:

production:
  adapter: postgresql
  host: localhost
  database: bariloche_vota
  username: postgres
  password: